################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/AnnouncementCreatorBot
/bin/Debug/net6.0
/obj/Debug/net6.0
/.vs/ProjectEvaluation
